// Размер шрифта
$FS14: 14px;
$FS16: 16px;
$FS17: 17px;
$FS18: 18px;
$FS20: 20px;
$FS22: 22px;
$FS23: 23px;
$FS30: 30px;
$FS32: 32px;
$FS40: 40px;
$FS52: 52px;
$FS60: 60px;
// Цвет фона
$Purple: #9960F6;
$DarkPurple: #8556F8;
$LightPurple: #7A54F9;
$PurpleSun: #A27BFF;
$White: #FFFFFF;
$WhiteOpacity: rgba(255, 255, 255, 0.8);
$Blue: rgb(53 48 255 / 20%);
$DarkBlue: #1E3264;
$LightGreen: #CEF564;
$Green: #016450;
$LightYellow: #E1FD2C;
$LightOrange: #FFDB00;

// Название шрифта
$font-family: 'Inter', Arial, sans-serif;
// Разрешения экрана
$screen-desktop: 1024px;
$screen-tablet: 768px;
$screen-mobile: 320px;
// Цвет текста
$text-color-white: #FFFFFF;
$text-color-green: #016450;
$text-color-dark-green: #1E3264;
$text-color-orange: #FFA72B;
