.wrapper {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.page {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Inter", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  overflow: hidden;
  color: #1E3264;
}

.header {
  height: 515px;
  background-color: #9960F6;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  gap: 50px;
  flex-direction: column;
  position: relative;
}
.header__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #FFDB00;
  margin: 0;
  text-align: start;
}
.header__image {
  width: 100%;
}
.header__information {
  display: flex;
  gap: 30px;
  flex-direction: column;
}
.header__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}
.header__button {
  width: 152px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #1E3264;
  border: none;
  background: #FFDB00;
  font-family: "Inter", Arial, sans-serif;
  transition: border 0.3s, border-radius 0.3s, box-sizing 0.3s;
}
.header__button:hover {
  border: 2px solid #1E3264;
  box-sizing: border-box;
  border-radius: 10px;
}
.header__logo {
  position: absolute;
  height: 94px;
  width: 94px;
  top: 20px;
  right: 20px;
}
.header__sublogo {
  position: absolute;
  width: 95px;
  height: 95px;
  right: 25px;
  bottom: 158px;
}

@media (min-width: 768px) {
  .header {
    height: 886px;
    padding: 50px;
  }
  .header__button {
    width: 163px;
    height: 55px;
    font-size: 18px;
    flex-shrink: 0;
  }
  .header__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 30px;
    position: absolute;
    top: 40px;
  }
  .header__image {
    margin-top: 147px;
  }
  .header__logo {
    width: 128px;
    height: 128px;
    top: 40px;
    right: 50px;
  }
  .header__subtitle {
    font-size: 30px;
    line-height: 38px;
  }
  .header__information {
    display: flex;
    gap: 96px;
    flex-direction: row;
  }
  .header__sublogo {
    width: 146px;
    height: 145px;
    bottom: 197px;
    right: 72px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 760px;
    flex-direction: row;
    gap: 100px;
    align-items: flex-end;
  }
  .header__image {
    margin-top: 60px;
  }
  .header__information {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 322px;
    width: 100%;
    flex-shrink: 1;
  }
  .header__subtitle {
    font-size: 40px;
    line-height: 48px;
  }
  .header__logo {
    top: -137px;
    right: -136px;
    height: auto;
    width: auto;
    border: 186px solid rgba(53, 48, 255, 0.2);
    border-radius: 50%;
  }
  .header__sublogo {
    width: auto;
    height: auto;
    right: 554px;
    bottom: 13px;
  }
}
.run-line {
  height: 64px;
  background-color: #CEF564;
  display: table-cell;
  vertical-align: middle;
}
.run-line__text {
  white-space: nowrap;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #016450;
  margin-left: -96px;
}

@media (min-width: 768px) {
  .run-line {
    height: 76px;
  }
  .run-line__text {
    font-size: 30px;
    line-height: 36px;
  }
}
.how-it-work {
  padding: 50px 20px 20px 20px;
}
.how-it-work__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #1E3264;
  margin: 0 auto 50px;
}
.how-it-work__tastes {
  background: #9960F6;
  padding: 20px;
}
.how-it-work__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  margin: 0;
}
.how-it-work__text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.8);
  margin: 15px 0 0 0;
}
.how-it-work__image {
  width: 100%;
  margin-top: 50px;
}
.how-it-work__structure {
  background: #8556F8;
  padding: 20px;
}
.how-it-work__button {
  font-size: 18px;
  background: #FFDB00;
  width: 163px;
  height: 55px;
  margin-top: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
  border: none;
  font-family: "Inter", Arial, sans-serif;
  transition: border 0.3s, border-radius 0.3s, box-sizing 0.3s;
}
.how-it-work__button:hover {
  border: 2px solid #1E3264;
  box-sizing: border-box;
  border-radius: 10px;
}
.how-it-work__list {
  margin: 60px 0 0 0;
  list-style: none;
  padding: 0;
}
.how-it-work__product {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  padding: 0 0 20px 0;
  margin: 0;
  color: #FFFFFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.how-it-work__product:not(:first-of-type) {
  margin: 20px 0 0 0;
}

@media (min-width: 768px) {
  .how-it-work {
    padding: 0 50px 50px 50px;
  }
  .how-it-work__title {
    margin: 120px auto;
    font-size: 60px;
    line-height: 60px;
  }
  .how-it-work__tastes {
    padding: 60px;
  }
  .how-it-work__subtitle {
    font-weight: 600;
    font-size: 52px;
    line-height: 48px;
    display: flex;
    align-items: flex-end;
    color: #FFFFFF;
  }
  .how-it-work__text {
    margin-top: 30px;
    width: 386px;
    white-space: pre;
    font-size: 18px;
    line-height: 31px;
    white-space: pre;
  }
  .how-it-work__structure {
    padding: 60px;
  }
  .how-it-work__list {
    margin-top: 100px;
    width: 255px;
  }
  .how-it-work__product {
    font-size: 32px;
    line-height: 50px;
    padding-bottom: 4px;
  }
  .how-it-work__product:not(:first-of-type) {
    margin-top: 30px;
  }
  .how-it-work__button {
    margin-top: 100px;
  }
  .how-it-work__products {
    position: relative;
  }
  .how-it-work__circle_green {
    background: #E1FD2C;
    border: 3px solid #016450;
    box-sizing: border-box;
    width: 185px;
    height: 185px;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    top: 5px;
  }
  .how-it-work__circle_yellow {
    background: #FFDB00;
    border: 3px solid #1E3264;
    box-sizing: border-box;
    width: 138px;
    height: 138px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    right: 0;
  }
}
@media (min-width: 1024px) {
  .how-it-work {
    padding-top: 120px;
  }
  .how-it-work__title {
    margin-top: 0;
  }
  .how-it-work__tastes {
    display: flex;
    gap: 236px;
    padding: 90px;
  }
  .how-it-work__image {
    margin: 0;
  }
  .how-it-work__structure {
    padding: 90px 100px;
  }
  .how-it-work__products {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: space-between;
  }
  .how-it-work__list {
    margin: 0;
  }
  .how-it-work__circle_green {
    right: 433px;
    top: 20px;
  }
  .how-it-work__circle_yellow {
    right: 381px;
    top: 218px;
  }
  .how-it-work__subtitle-n-text_bottom {
    position: absolute;
  }
}
.soda-n-samples {
  padding: 0 20px;
}
.soda-n-samples__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #1E3264;
  margin: 30px auto 50px;
}
.soda-n-samples__image {
  width: 100%;
  height: 339px;
  background-image: url(../../images/mango.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.soda-n-samples__natural-products {
  position: relative;
}
.soda-n-samples__mango {
  width: 125px;
  height: 125px;
  position: absolute;
  background-image: url(../../images/AddYours.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  bottom: 45px;
  left: -5px;
}
.soda-n-samples__samples {
  background: #CEF564;
  display: flex;
  flex-direction: column;
}
.soda-n-samples__description {
  margin: 20px 20px 0;
}
.soda-n-samples__container {
  margin: 50px 10px 10px;
  background: #016450;
}
.soda-n-samples__title-form {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}
.soda-n-samples__form {
  margin: 40px 0 0 0;
}
.soda-n-samples__title-input {
  font-size: 14px;
  line-height: 31px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  margin: 0;
}
.soda-n-samples__text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.3px;
  color: #1E3264;
  margin: 20px 0 0;
}
.soda-n-samples__subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #1E3264;
  margin: 0;
}
.soda-n-samples__input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  padding: 0 0 13px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 8px;
}
.soda-n-samples__input:focus-visible {
  outline: none;
}
.soda-n-samples__container {
  padding: 20px;
}
.soda-n-samples__submit {
  width: 220px;
  height: 51px;
  font-weight: 500;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  background: #A27BFF;
  border: none;
  padding: 0;
  margin: 60px 0 0;
  transition: border 0.3s, border-radius 0.3s, box-sizing 0.3s;
}
.soda-n-samples__submit:hover {
  border: 2px solid #E1FD2C;
  box-sizing: border-box;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .soda-n-samples {
    padding: 0 50px;
  }
  .soda-n-samples__title {
    font-size: 60px;
    line-height: 67px;
    margin: 70px auto 120px;
    white-space: pre;
  }
  .soda-n-samples__image {
    width: 430px;
    height: 520px;
    margin: 0 auto;
  }
  .soda-n-samples__mango {
    bottom: 286px;
    left: 34px;
    width: 218px;
    height: 218px;
  }
  .soda-n-samples__title-form {
    font-size: 32px;
    line-height: 40px;
  }
  .soda-n-samples__subtitle {
    font-size: 60px;
    line-height: 65px;
  }
  .soda-n-samples__text {
    font-size: 20px;
    line-height: 29px;
    white-space: pre;
    margin-top: 48px;
  }
  .soda-n-samples__description {
    margin: 60px 60px 0;
  }
  .soda-n-samples__container {
    margin: 100px 34px 34px;
    padding: 24px 30px 30px;
  }
  .soda-n-samples__submit {
    width: 158px;
    height: 55px;
    font-size: 18px;
    margin-top: 90px;
  }
  .soda-n-samples__title-input {
    font-size: 17px;
  }
  .soda-n-samples__input {
    font-size: 17px;
    padding-top: 17px;
    margin-bottom: 12px;
  }
  .soda-n-samples__form {
    margin-top: 50px;
  }
}
@media (min-width: 1024px) {
  .soda-n-samples {
    padding: 0;
  }
  .soda-n-samples__natural-products {
    display: flex;
    align-items: center;
    padding: 20px 180px 0 154px;
    justify-content: space-between;
  }
  .soda-n-samples__mango {
    bottom: 276px;
    left: 700px;
  }
  .soda-n-samples__title {
    white-space: normal;
    width: 460px;
    text-align: left;
    margin: 120px 0 190px;
  }
  .soda-n-samples__image {
    margin: 0;
  }
  .soda-n-samples__text {
    width: 457px;
  }
  .soda-n-samples__samples {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 60px 50px;
    gap: 90px;
  }
  .soda-n-samples__container {
    margin: 0;
    width: 100%;
  }
  .soda-n-samples__description {
    margin: 0 0 0 100px;
  }
  .soda-n-samples__name-n-fam {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 13px;
    margin: 0 0 12px;
  }
  .soda-n-samples__input-name-n-input {
    width: 100%;
  }
  .soda-n-samples__input-fam-n-input {
    width: 100%;
  }
  .soda-n-samples__submit {
    margin-top: 179px;
  }
  .soda-n-samples__input:last-child {
    margin: 0;
  }
}
.footer {
  background: #7A54F9;
  padding: 60px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  width: 200px;
  height: 200px;
  background-image: url(../../images/soda.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.footer__title {
  font-weight: 500;
  font-size: 23px;
  line-height: 33px;
  color: #FFFFFF;
  margin: 0 0 20px;
}
.footer__navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__link {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  padding: 0;
}
.footer__link:not(:last-child) {
  margin-bottom: 3px;
}
.footer__link-point {
  color: #FFFFFF;
  text-decoration: none;
  transition: opacity 0.3s ease-in;
}
.footer__link-point:hover {
  opacity: 0.7;
}
.footer__copyright {
  font-size: 14px;
  line-height: 15px;
  letter-spacing: 0.3px;
  color: #FFFFFF;
  margin: 0;
}
.footer__information {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__information:last-of-type {
  margin-top: 0;
}
.footer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 120px 50px 50px;
    align-items: flex-start;
  }
  .footer__description {
    align-items: normal;
    flex-direction: row;
    gap: 100px;
  }
  .footer__information {
    margin: 0;
    align-items: flex-start;
  }
  .footer__logo {
    flex-shrink: 0;
  }
  .footer__information-n-copyright {
    display: flex;
    flex-direction: row;
    gap: 100px;
    flex-wrap: wrap;
  }
  .footer__navigation {
    align-items: flex-start;
  }
}
@media (min-width: 1024px) {
  .footer {
    padding: 100px 150px;
  }
  .footer__logo {
    width: 300px;
    height: 300px;
  }
  .footer__description {
    gap: 247px;
  }
  .footer__information-n-copyright {
    gap: 145px;
  }
}/*# sourceMappingURL=index.css.map */